@charset "UTF-8";

body {
    background-color: indigo;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: whitesmoke;
}

h2 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
}